.ui.borderless.topmenu.menu {
  background-color:#F7F7F7;
  border: none;
  box-shadow: none;
}

.ui.borderless.middlemenu.menu {
  border: none;
  box-shadow: none;
}

.footer-background {
  background-color: #292929;
  padding-top: 25px;
  padding-bottom: 25px;
}

.ui.three.column.grid.container {
  color: white;
}
