.ui.borderless.topmenu.menu {
  background-color:#F7F7F7;
  border: none;
  box-shadow: none;
}

.ui.borderless.middlemenu.menu {
  border: none;
  box-shadow: none;
}

.grey-background {
  background-color: #292929;
  height: 200px;
}

.ui.three.column.grid.container.grey-background {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 50px;
  color:white;
}
